<% provide(:title, 'conprepgo') %>
<h1>Convince Prepare Go</h1>
<p>
  The Convince Prepare Go technique helps first time users to learn about the benefits one can get from theAlife.
  Once you learn the benefits we teach you how to prepare yourself to achieve your goal. The Go module helps you to track your progress.
</p>
