<% provide(:title, 'Forum') %>
<h1>Forum</h1>
<p>
  Teach and learn from others from A-tweets. To learn more about exercise routines visit.
  <a href="http://http://www.bodybuilding.com/">Bodybuilding.com</a>.
</p>


