<div class="center hero-unit">
<h1>Welcome to theAlife</h1>
<h2>
  Live life the A-style. Learn and Teach how to get motivated and motivate others. Follow the technique of Inspire by Doing. Take it step by step and achieve what you think is impossible.
  Check health benefits from :
  <a href="http://www.webmd.com/fitness-exercise/guide/health-fitness-fact-vs-fiction">Health Benefits</a>
</h2>
  <%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://google.com/' %>