<% provide(:title, 'Home') %>
<h1>Welcome to theAlife</h1>
<p>
  Live life the A-style. Learn and Teach how to get motivated and motivate others. Follow the technique of Inspire by Doing. Take it step by step and achieve what you think is impossible.
  Check health benefits from :
  <a href="http://www.webmd.com/fitness-exercise/guide/health-fitness-fact-vs-fiction">Health Benefits</a>
</p>
